<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Pay min:</strong>
  <%= @job.pay_min %>
</p>

<p>
  <strong>Pay max:</strong>
  <%= @job.pay_max %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
